.customnodeflow {
  padding: 10px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-width: 600px;
  min-height: 400px;
}

.customnodeflow::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}
.customnodeflow button {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px #0000004d;
  cursor: pointer;
}
.customnodeflow button:hover {
  opacity: 0.9;
  transform: scale(105%);
  transition: 0.25s all ease;
}

.customnodeflow .vue-flow__node-vpc {
  border: 1px solid #2ca138;
  padding: inherit;
  min-width: 600px;
  min-height: 400px;
}

.customnodeflow .vue-flow__node-vpc::after {
  content: "";
  background: #2ca138;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}

.customnodeflow .vue-flow__node-asg {
  border: 1px solid #f68536;
  padding: inherit;
  min-width: 200px;
  min-height: 300px;
}

.customnodeflow .vue-flow__node-asg::after {
  content: "";
  background: #f68536;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}

.customnodeflow .vue-flow__node-alb {
  border: 1px solid #f68536;
  padding: inherit;
  min-width: 200px;
  min-height: 300px;
}

.customnodeflow .vue-flow__node-alb::after {
  content: "";
  background: #f68536;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}

.customnodeflow .vue-flow__node-ec2 {
  border: 1px solid #f68536;
  padding: 10px;
  min-width: 200px;
  min-height: 100px;
  z-index: -1;
}

.customnodeflow .vue-flow__node-ec2::after {
  content: "";
  background: #f68536;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}

.customnodeflow .vue-flow__node-natgw {
  border: 1px solid #f68536;
  padding: inherit;
  min-width: 200px;
  min-height: 300px;
}

.customnodeflow .vue-flow__node-natgw::after {
  content: "";
  background: #f68536;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}

.customnodeflow .vue-flow__node-privatesubnet {
  border: 1px solid #2ca138;
  padding:inherit;
  min-width: 200px;
  min-height: 300px;
}

.customnodeflow .vue-flow__node-privatesubnet::after {
  content: "";
  background: #2ca138;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 50px;
}

.customnodeflow .vue-flow__node-publicsubnet {
  border: 1px solid #2ca138;
  padding: inherit;
  min-width: 200px;
  min-height: 300px;
}

.customnodeflow .vue-flow__node-publicsubnet::after {
  content: "";
  background: #2ca138;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 50px;
}

.customnodeflow .vue-flow__node-sg {
  border: 1px solid #0d7317;
  padding: inherit;
  min-width: 200px;
  min-height: 300px;
}

.customnodeflow .vue-flow__node-sg::after {
  content: "";
  background: #0d7317;
  position: absolute;
  top: -10px;
  left: -1px;
  height: 10px;
  width: 30%;
}